PipelineView/bin/
PipelineView/ClientApp/node_modules/
PipelineView/ClientApp/.angular/cache/
PipelineView/obj/
PipelineView/ClientAppNx/metratrj/.angular/cache/
PipelineView/ClientAppNx/metratrj/node_modules/